<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/#/dashboard">Reservas</a>
    <a class="navbar-brand" href="/#/reportes">Reportes</a>
    <!-- Toggle button -->
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" aria-current="page" (click)="navegar('login')">Login</a> -->
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <form class="d-flex w-auto">
        <button class="btn btn-danger" (click)="salir()"type="button"> Salir </button>
      </form>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
