<div style="background-color: white;">
  <app-header></app-header>
<div class="_tabla">
 <div class="card">
  <div class="card-header text-center" style="background-color: #F6F6F6;height: 50px;">
    <h2><b>Vincular de Reservas</b></h2>
  </div>
      <div class="card-body">
        <div class="row">
          <div style="width: 250px;">
            <label for="" style="width: 100px;">Restaurante:</label>
            <select [(ngModel)]="restaurant_value" class="form-select">
              <option value="{{item.restaurant}}"  *ngFor="let item of restaurantes">{{item.name}}</option>
            </select>
          </div>
          <div style="width: 230px;">
            <label for="">Filtrar por nombre:</label>
            <input type="text" [(ngModel)]="FiltroReservaNombre"name="filtroName" class="form-control" >
          </div>
          <div style="width: 230px;">
            <label for="">Desde:</label>
            <div class="input-group date" data-provide="datepicker">
              <input type="date" class="form-control" [(ngModel)]="fecha1">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div style="width: 230px;">
            <label for="">Hasta:</label>
            <div class="input-group date" data-provide="datepicker">
              <input type="date" class="form-control" [(ngModel)]="fecha2">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div style="width: 80px;">
            <label for="">Buscar:</label>
            <mat-icon style="cursor: pointer; font-size:40px;width: 40px;height: 40px;color: green;"
              (click)="buscarReservas()">search</mat-icon>
          </div>
          <div style="width: 80px;">
            <label for="">Sincronizar:</label>
            <mat-icon style="cursor: pointer; font-size:40px;width: 40px;height: 40px;color: green;"
              (click)="vincularAutomatico()">cached</mat-icon>
          </div>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col" style="max-width: 150px;">Mesa</th>
              <th scope="col">Pax</th>
              <th scope="col">Documentos Vinculados</th>
              <th scope="col">Vincular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reservas | filtroReserva:FiltroReservaNombre |paginate: {id:'pageVincular', itemsPerPage: 10, currentPage: pgv }">
              <th scope="row">{{item.id_reserv}}</th>
              <td style="max-width: 150px;">{{item.user_name}}</td>
              <td>{{item.date|date:'dd-MM-yyyy hh:mm a'}}</td>
              <td style="  max-width: 250px;
              word-break: break-all;">{{item.mesa}}</td>
              <td>{{item.pax}}</td>
              <td scope="row" style="min-width: 150px;">
               <mat-chip-list >
                  <mat-chip style="cursor: pointer;" (click)="desvincular(doc.Id)" *ngFor="let doc of item.doc_vinculados" color="accent">
                    {{doc.Serie_doc}} <mat-icon>clear</mat-icon>
                  </mat-chip>
                </mat-chip-list>
                <!-- <a *ngFor="let doc of item.doc_vinculados" class="badge badge-primary">{{doc.Serie_doc}}</a> --></td>
              <td scope="row">
                <mat-icon  style="cursor: pointer;" (click)="openModalRegistro(modalVincular,item.id_reserv,item.user_name,item.id)">launch</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="pageVincular" (pageChange)="pgv = $event" class="text-center mt-2"></pagination-controls>
      </div>
 </div>
</div>
</div>
<ng-template #modalVincular let-modal>
	<div class="modal-header" style="height: 50px;">
		<h3 class="mt-2"><b>{{reservaActual}}</b></h3>
		<button id="cerrarModal" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="row">
      <div style="width: 230px;">
        <label for="">Fecha Documento:</label>
        <div class="input-group date" data-provide="datepicker">
          <input type="date" class="form-control" name="fecha" [(ngModel)]="fecha1">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div style="width: 230px;">
        <label for="">N° Documento</label>
        <input type="text" [(ngModel)]="FiltroDocumento"name="filtro" class="form-control" >
      </div>
      <div style="width: 80px;">
        <label for="">Buscar:</label>
        <mat-icon style="cursor: pointer; font-size:40px;width: 40px;height: 40px;color: green;"
          (click)="buscarDocumentosXacto()">search</mat-icon>
      </div>
    </div>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th scope="col">Documento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of documentosCabecera|filtroDoc: FiltroDocumento| paginate: {id:'pageCabecera', itemsPerPage: 10, currentPage: pc }"
        (click)="vincularDocumento(item.serieNumero,item.tipoDocumento,item.fechaEmision,item.numeroDocumentoAdquirente,item.razonSocialAdquirente,item.totalVenta)" style="cursor: pointer">
          <th scope="row">{{item.serieNumero}}</th>
          <td scope="row">{{item.fechaEmision|date:'dd-MM-yyyy hh:mm a'}}</td>
          <td scope="row">{{item.totalVenta}}</td>
          <td scope="row">{{item.estado}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="pageCabecera" (pageChange)="pc = $event" class="text-center mt-2"></pagination-controls>
	</div>
</ng-template>
