<app-header></app-header>
<div class="card m-4">
  <mat-tab-group>
    <mat-tab label="Reportes">
      <div class="card-body">
        <div class="row">
          <div style="width: 250px;">
            <label for="" style="width: 100px;">Restaurante:</label>
            <select [(ngModel)]="restaurant_value" class="form-select">
              <option value="{{item.restaurant}}"  *ngFor="let item of restaurantes">{{item.name}}</option>
            </select>
          </div>
          <div style="width: 230px;">
            <label for="">Desde:</label>
            <div class="input-group date" data-provide="datepicker">
              <input type="date" class="form-control" [(ngModel)]="fecha1">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div style="width: 230px;">
            <label for="">Hasta:</label>
            <div class="input-group date" data-provide="datepicker">
              <input type="date" class="form-control" [(ngModel)]="fecha2">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
      <div style="width: 180px;">
            <label for="" style="width: 50px;"></label>
            <button class="btn btn-success" (click)="exportarEcel()">Exportar Excel</button>
          </div>
          <div style="width: 80px;">
            <label for="">Buscar:</label>
            <mat-icon style="cursor: pointer; font-size:40px;width: 40px;height: 40px;color: green;"
              (click)="buscarReservas()">search</mat-icon>
          </div>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col" style="width: 200px;">Fecha Creada</th>
              <th scope="col" style="width: 200px;">Fecha</th>
              <th scope="col">Nombre</th>
              <th scope="col">Telefono</th>
              <th scope="col">tipo</th>
              <th scope="col">usuario</th>
              <th scope="col">estado</th>
              <th scope="col">restaurant</th>
              <th scope="col">provenance</th>
              <th scope="col">pax</th>
              <th scope="col">origin</th>
              <th scope="col" style="width: 300px;">observaciones</th>
              <th scope="col">mesa</th>
              <th scope="col">email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reservas| paginate: {id:'page2', itemsPerPage: 10, currentPage: pd }">
              <th scope="row">{{item.id}}</th>
              <td>{{item.date_add|date:'dd-MM-yyyy hh:mm a'}}</td>
              <td>{{item.date|date:'dd-MM-yyyy hh:mm a'}}</td>
              <td>{{item.user_name}}</td>
              <td>{{item.user_phone}}</td>
              <td>{{item.tipo}}</td>
              <td>{{item.usuario}}</td>
              <td>{{item.status}}</td>
              <td>{{item.restaurant}}</td>
              <td>{{item.provenance}}</td>
              <td>{{item.pax}}</td>
              <td>{{item.origin}}</td>
              <td>{{item.commentary_client}}</td>
              <td  style="max-width: 150px;">{{item.mesa}}</td>
              <td>{{item.email}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="page2" (pageChange)="pd = $event" class="text-center mt-2"></pagination-controls>
      </div>
    </mat-tab>
 <!--    <mat-tab label="Detalle">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reservas| paginate: {id:'detalle', itemsPerPage: 10, currentPage: pgDet }">
            <th scope="row">{{item.id}}</th>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="detalle" (pageChange)="pd = $event" class="text-center mt-2"></pagination-controls>

    </mat-tab> -->
  </mat-tab-group>

</div>
